@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --boomerang-color-1: #1b262c;
  --boomerang-color-2: #0f4c75;
  --boomerang-color-3: #3282b8;
  --boomerang-color-4: #bbe1fa;
}

body {
  background-color: rgba(187, 225, 250, 0.8);
  font-family: 'Montserrat', sans-serif;
}

.LoginLayout {
  height: 100vh;
  width: 100vw;
}

.Account {
  margin-left: 10px;
  justify-content: center;
}

.Wrapper {
  overflow: hidden;
}

.ButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Container {
  background-color: var(--boomerang-color-4);
  height: 90vh;
  overflow-y: auto;
}

.Logo {
  max-width: 300px;
  margin-top: 30px;
  width: 100%;
}

.LogoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadMoreBtn {
  color: white;
  padding: 10px 20px;
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
}

.Form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(15, 76, 117, 0.8);
  color: var(--boomerang-color-4);
  padding: 0 20px 0 20px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.LogButton {
  margin: 60px 20px 20px 20px;
  cursor: pointer;
}
.LogoutBtn {
  border-radius: 10px;
  margin-left: 50px;
  font-size: 12px;
  font-weight: bold;
}

.UserName {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 2px;
  color: var(--boomerang-color-4);
  cursor: pointer;
}

.Button {
  background: var(--boomerang-color-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 10px 10px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='time'],
input[type='date'] {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(27, 38, 44, 0.55);
  width: 100%;
}
.Label {
  color: white;
}
.LabelSmall {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--boomerang-color-3);
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .Form {
    min-width: 300px;
  }
  .Navbar {
    position: sticky;
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .Form {
    width: calc(100% - 100px);
  }
  .Event {
    width: calc(100% / 1.1) !important;
  }
  .Right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: none !important;
  }
  .Navbar {
    flex-direction: column-reverse;
    height: 20vh !important;
  }
  .Container {
    height: calc(80vh - 40px) !important;
  }
}

.InputWrapper {
  margin-right: 20px;
  margin-bottom: 2px;
}

.InputWrapperSpacer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ErrorMessage {
  text-align: center;
  margin-bottom: 20px;
  background: red;
  color: var(--boomerang-color-1);
}
.Navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--boomerang-color-4);
  height: calc(10vh - 40px);
}
.RoundButton {
  padding: 20px;
  background: var(--boomerang-color-2);
  width: 10px;
  height: 10px;
  margin: 5px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.RoundButtonEvent {
  border-radius: 15px;
  width: fit-content;
  margin: auto;
}
.Left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Right {
  float: right;
}
.UserBar {
  background-color: var(--boomerang-color-2);
  padding: 10px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
}
.EventsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Event {
  background: white;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05),
    inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: calc(100% / 2.5);
}
.EventBar {
  width: 100%;
  background: rgba(187, 225, 250, 0.5);
  border-radius: 5px;
  display: inline-flex;
}
.EventAuthor {
  float: right;
}
.EventTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background: var(--boomerang-color-1);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
}
.EventDescription {
  margin: 10px;
}
.ReadMoreBtn {
  margin: 10px auto !important;
  color: white;
  padding: 10px 20px;
  width: fit-content;
  font-size: 14px;
}
.EventLocation {
  padding: 10px;
}
.EventView {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.eventDate {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--boomerang-color-1);
  text-decoration: none;
  padding-top: 5px;
}

.reviewDiv {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--boomerang-color-1);
  text-decoration: none;
  padding-top: 5px;
  margin-left: 10px;
}
.reviewSection {
  margin: 10px 10px;
  background-color: var(--boomerang-color-4);
  border-radius: 15px;
  padding: 10px;
}

.reviewForm {
  background-color: lightgray;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin: 10px 10px;
  border-radius: 15px;
  padding: 10px;
}

.headings {
  margin-left: 10 xp;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 24px;
}

.bold {
  font-weight: bold;
}
